/* --------------
 * GLOBAL
 * -------------*/
body{
	font-family: 'PT Sans',Helvetica,serif;
	font-size: 1.125em;
	line-height: 1.5em;
	color: #555;

	text-align:center;
}
::selection {
	background: #d34836;
	color: #fff;
}
::-moz-selection{
	background: #d34836;
	color: #fff;
}

a{
	text-decoration: none;
	font-weight: bold;

	-webkit-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	transition: background 0.4s, color 0.4s;
	color: #d34836;
}
a:hover{
	-webkit-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	transition: background 0.4s, color 0.4s;
	color: #555;
	text-decoration: none;
}

/* --------------
 * SOCIAL
 * -------------*/
#social{
	text-align: center;
	margin-bottom: 5em;
}
#social a{
	padding-right: 10px;

	font-size: 1.5em;
	font-weight: bold;

	-webkit-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	transition: background 0.4s, color 0.4s;
	color: #555;
}
#social a:hover,
#social a:focus {
	-webkit-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	transition: background 0.4s, color 0.4s;
	color: #d34836;
	text-decoration:none;
}

@font-face {
	font-family: 'zocial';
	src: url('../assets/font/zocial-regular-webfont.eot');
}

@font-face {
	font-family: 'zocial';
	src: url('../assets/font/zocial-regular-webfont.woff') format('woff'),
	url('../assets/font/zocial-regular-webfont.ttf') format('truetype'),
	url('../assets/font/zocial-regular-webfont.svg#zocialregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.zocial{font-family: zocial;text-decoration:none;}
.zocial.github:before {content: "\00E8";}
.zocial.lastfm:before {content: "l";}
.zocial.twitter:before {content: "T";}
.zocial.rss:before {content: "R";}

/* --------------
 * SITE
 * -------------*/
.blog_title{text-align: center;}

.site{
	max-width: 736px;

	font-size: 115%;
	line-height: 1.5em;

	text-align: justify;
	margin: 3em auto 2em;
	padding-left: 20px;
	padding-right: 20px;
}

#content{width:100%;}

.title{
	font-size: 2em;
	font-weight: bold;
	line-height: 1;

	text-align: center;
	display: block;
	margin: 0;

	text-decoration: none;

	-webkit-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	transition: background 0.4s, color 0.4s;
	color: #555;
}
.title:hover{
	-webkit-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	transition: background 0.4s, color 0.4s;
	color: #d34836;
}

.date{
	font-size: 1em;
	color: #aaa;
	text-align: center;
	display: block;
	margin: 0.1em;
}

.posts li{margin-bottom: 5em;}
